/* General styles for the entire website */

body {
  font-family: Lato, 'Lucida Grande', Tahoma, Sans-Serif;
}

a:hover {
  text-decoration: none;
}

/* Use the h1 for section titles */
h1 {
  line-height: 1.5;
  font-size: 3.5em;
  font-weight: bold;
}

#main-container {
  overflow-x: hidden;
}

/* Navigation bar */

.navbar-brand {
  font-size: 2em;
}

.navigation-bar {
  background: #1d1b1b !important;
  border-bottom: 0.5px solid white;
}

.nav-link {
  font-size: 1.05em;
  text-transform: uppercase;
}

.header-div {
  text-align: center;
  top: 40%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Projects */

.project-card {
  text-align: center;
  width: 20%;
}

#projects {
  padding: 100px;
  text-align: center;
}

.project-header {
  margin-bottom: 70px;
}

/* About section styles */

#about {
  background-color: #303030;
  text-align: center;
}

.about-div {
  margin-top: 100px;
  margin-bottom: 200px;
}

.about-me-header {
  margin-bottom: 100px;
}

.bio-paragraph {
  font-size: 2em;
  line-height: 2;
  padding-left: 20px;
  padding-right: 20px;
}

#title {
  height: 100vh;
}

.project-col {
  padding: 2% 2%;
}

/* Footer */

#footer {
  padding: 7% 15%;
  text-align: center;
  background-color: #1d1b1b;
}

/* Font awesome footer icons */
.footer-icon {
  margin: 20px 10px;
  font-size: 30px;
  color: white;
}

/* Designed by Jacob */
.footer-text {
  font-size: 20px;
}

/* Turn font awesome icons green on hover */
i:hover {
  color: #00bc8c;
  text-decoration: none;
}

/* Media queries for responsive design */

@media only screen and (min-width: 1400px) {
  .bio-paragraph {
    padding-left: 400px;
    padding-right: 400px;
  }
}

@media only screen and (max-width: 715px) {
  .technology-list {
    display: none;
  }
}
