//Footer.
$super-dark-color: #1d1b1b;

//Landing page, projects page, navigation bar.
$dark-color: #222;

//Text.
$white-color: #fff;

//Buttons, about page, project box.
$gray-color: #303030;

//Links.
$green-color: #00bc8c;
