@import 'config';
@import 'tooltips';

* {
  //Include padding and border in an element's total width and height.
  box-sizing: border-box;

  //Reset default HTML styles.
  margin: 0;
  padding: 0;

  //Override outlines.
  outline: none;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 2;
}

a {
  //Remove underline.
  text-decoration: none;
}

ul {
  //Remove bullet points.
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 87.375px;

  border-bottom: 1px solid $white-color;

  background-color: $dark-color;

  //Separate two flex items.
  justify-content: space-between;

  padding: 0.7rem 2rem;

  //Keep at top of screen & on top of all content.
  position: fixed;
  z-index: 1;
  top: 0;

  ul {
    //You got me moving side to side...
    display: flex;
  }

  a {
    color: $white-color;

    //Anchor tags within navbar that are hovered...
    //Same as a:hover.
    &:hover {
      color: $green-color;
    }
  }

  //Navbar brand.
  h1 a {
    font-size: 2rem;
    font-weight: normal;
  }

  ul a {
    text-transform: uppercase;
    padding: 0.5rem;
    margin: 0 0.25rem;
  }
}

.landing {
  height: 100vh;
  background-color: $dark-color;
  color: $white-color;

  .intro {
    top: 38%;
    position: absolute;

    font-size: 2.2rem;

    //Center.
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: 0;
    right: 0;
  }
}

.btn {
  font-size: 1.25rem;
  background-color: $gray-color;
  color: $white-color;
  text-align: center;
  padding: 0.7rem 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 0.1rem solid $white-color;

  transition: all 0.2s ease-in;

  &:hover {
    background: lighten($dark-color, 30%);
  }
}

.about {
  min-height: 100vh;
  //change to pure white color
  background-color: white;

  //Change to pure black color
  color: black;

  h1 {
    font-size: 3.5rem;
    text-align: center;
    padding-top: 5rem;
  }

  .biography {
    text-align: center;
    font-size: 1.5rem;

    p {
      padding-top: 5rem;
      padding-bottom: 5rem;
      padding-left: 20rem;
      padding-right: 20rem;
    }
  }
}

//Particles (landing page).
.stars {
  height: 100%;

  #tsparticles {
    height: 100%;
  }

  canvas {
    width: 100%;
    height: 100%;
  }
}

.technology-list-container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 5rem;

  div div {
    padding: 1rem 1.2rem;
    font-size: 1.3em;

    .devicon-label {
      font-family: 'Lato' !important;
    }
  }

  div span {
    display: block;
  }

  div .devicon {
    font-size: 4rem;
  }
}

.projects {
  min-height: 100vh;
  //change to #f5f5f5
  background-color: #f5f5f5;
  //change to black
  color: black;
  padding-bottom: 8rem;
  // margin-bottom: 10rem;

  .project-title {
    font-size: 3.5rem;
    text-align: center;
    padding: 5rem 0;
  }

  .card {
    //change to black
    border: 1px solid black;
    
    //change to white
    background-color: white;
    border-radius: 0.2rem;
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .title {
    color: grey;
  }

  a {
    text-decoration: none;
    font-size: 1rem;
    color: $green-color;

    &:hover {
      color: darken(#007053, 5%);
    }
  }

  .card-links {
    a {
      padding: 0 0.3rem;
    }
  }
}

/* Footer */

.footer {
  padding: 7% 15%;
  text-align: center;
  background-color: $super-dark-color;
  color: $white-color;
}

/* Font awesome footer icons */
.footer-icon {
  margin: 20px 10px;
  font-size: 30px;
  color: $white-color;
}

/* Designed by Jacob */
.footer-text {
  font-size: 20px;
}

/* Turn font awesome icons green on hover */
i.footer-icon:hover {
  color: #00bc8c;
  text-decoration: none;
}

.return-to-top {
  z-index: 10;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

.return-to-top:hover i {
  color: $white-color;
  top: 5px;
}

//Express devicon.
.devicon-express-original.colored {
  color: rgb(139, 139, 139);
}

@import 'mobile';
